.sidenav {
    background-color: rgb(89, 89, 241);
}

.sidenav a {
    color: white;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding:16px;
    background-color: rgb(255, 254, 254);
}